@font-face {
  font-family: "IRANSANSX-Regular";
  src: url('Assets/fonts/IRANSansX-Regular.woff');
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  direction: rtl;
  font-family: 'IRANSANSX-Regular', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
